export(daum_news_for_LDA)
export(fifaOnline_Stats_v1)
export(naver_cafe_v1)
export(login_everytime)
export(everytime_myCatergory)
export(get_everytime_data)
export(lectures)
export(get_everytime_data_v2)

import(httr)
import(rvest)
import(RSelenium)
